/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header {
        background-color: black;
        padding: 10px;
        margin: 10px 0;
    }
    nav {
        background-color: #2d4159;
        padding: 5px 0;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    ul >li.izq, ul >li.der, ul>li.cent {
        flex: 1;
    }


    li {
        background-color: #eb5555;
        margin: 10px 10px;
        padding: 10px 0;
        color: #eb5555;
    }

    div.cont1 {
        background-color: #f07b3e;
        padding: 10px;
        margin: 10px 0;
    }

    div.cont1 p {
        background-color: #fed460;
        padding: 10px;
        color: #fed460;
        margin: 0px;
    }

    main {
        display: flex;
        background-color: #ffd939;
        padding: 10px;
        flex-direction: column;
    }

    main>section {
        margin-right: 0px;
        background-color: #004862;
    }

    main>section>div>article {
        background-color: #558991;
        color: #558991;
        width: auto; 
        margin: 10px;
        display: block;
    }

    main>section>div>p {
        width: auto;
        background-color: #97d4c4;
        color: #97d4c4;
        margin: 10px;
    }

    main>aside {
        flex: 1;
        margin: 10px 0;
        background-color: #ff794c;
    }

    main>aside>p {
        background-color: #ffab63;
        color: #ffab63;
        margin: 10px;
    }

    footer {
        background-color: #000000;
        padding: 10px;
        margin: 10px 0;
    }

    footer>p {
        background-color: #e6af2d;
        color: #e6af2d;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header {
        background-color: black;
        padding: 10px;
        margin: 10px 0;
    }
    nav {
        background-color: #2d4159;
        padding: 5px 0;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    ul >li.izq, ul >li.der, ul>li.cent {
        flex: 1;
    }


    li {
        background-color: #eb5555;
        margin: 10px 10px;
        padding: 10px 0;
        color: #eb5555;
    }

    div.cont1 {
        background-color: #f07b3e;
        padding: 10px;
        margin: 10px 0;
    }

    div.cont1 p {
        background-color: #fed460;
        padding: 10px;
        color: #fed460;
        margin: 0px;
    }

    main {
        display: flex;
        background-color: #ffd939;
        padding: 10px;
        flex-direction: column;
    }

    main>section {
        margin-right: 0px;
        background-color: #004862;
    }

    main>section>div>article {
        background-color: #558991;
        color: #558991;
        width: auto; 
        margin: 10px;
        display: block;
    }

    main>section>div>p {
        width: auto;
        background-color: #97d4c4;
        color: #97d4c4;
        margin: 10px;
    }

    main>aside {
        flex: 1;
        margin: 10px 0;
        background-color: #ff794c;
    }

    main>aside>p {
        background-color: #ffab63;
        color: #ffab63;
        margin: 10px;
    }

    footer {
        background-color: #000000;
        padding: 10px;
        margin: 10px 0;
    }

    footer>p {
        background-color: #e6af2d;
        color: #e6af2d;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header {
        background-color: black;
        padding: 10px;
        margin: 10px 0;
    }
    nav {
        background-color: #2d4159;
        padding: 5px 0;
    } 
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    li {
        background-color: #eb5555;
        margin: 0 10px;
        padding: 10px 0;
        color: #eb5555;
    }
    ul >li.izq, ul >li.der {
        flex: 1;
    }
    ul>li.cent {
        flex: 2;
    }

    div.cont1 {
        background-color: #f07b3e;
        padding: 10px;
        margin: 10px 0;
    }

    div.cont1 p {
        background-color: #fed460;
        padding: 10px;
        color: #fed460;
        margin: 0px;
    }

    main {
        display: flex;
        background-color: yellow;
        padding: 10px;
        flex-direction: column;
    }

    main>section {
        margin-right: 0px;
        background-color: #4e4e6a;
    }
    main>section>div {
        display: flex;
        flex-direction: row;
        }
    main>section>div>article {
        background-color: #216cb0;
        color: #216cb0;
        flex:1;
        margin: 10px;
        
    }

    main>section>div>p {
        flex: 1;
        background-color: #70a4c4;
        color: #70a4c4;
        margin: 10px;
    }

    main>aside {
        flex: 1;
        margin:10px 0;
        background-color: #f83e51;
    }

    main>aside>p {
        background-color: #ffea84;
        color: #ffea84;
        margin: 10px;
    }

    footer {
        background-color: #000000;
        padding: 10px;
        margin: 10px 0;
    }

    footer>p {
        background-color: #e6af2d;
        color: #e6af2d;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {}*/


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
    }
    
    header{
        background-color: black;
        padding: 10px;
        margin: 10px 0;
        
    }
    
    nav{
        background-color: #2d4159;
        padding: 5px 0;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    
    li{
        background-color: #eb5555;
        margin: 0 10px;
        padding: 10px 0;
        color:#eb5555;
    }
    ul >li.izq, ul >li.der{
        flex: 1;
       
    }
    ul>li.cent{
        flex:2;
    }
    
    div.cont1{
        background-color:#f07b3e ;
        padding: 10px;
        margin:  10px 0;
    }
    
    div.cont1 p{
        background-color:#fed460 ;
        padding: 10px;
        color:#fed460;
        margin:0px;
    }
    
    main{
        display: flex;
        background-color: black;
        padding: 10px;
        flex-direction: row;
    }
    
    main>section{
        flex: 2;
        margin-right: 5px;
        background-color: #4e4e6a;
        display: block;
    }

    main>section>div{
        display: flex;
        flex-direction: row;
    }
    
    main>aside{
        flex: 1;
        margin: 0px 0px 0px 5px;
        background-color: #f83e51;
    }
    
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    main>section>div>article{
        background-color:#216cb0;
        color:#216cb0;
        flex: 1;
        margin: 10px;
    }
    main>section>div>p{
        flex: 1;
        background-color: #70a4c4;
        color:#70a4c4;
        margin: 10px;
    }
    main>aside>p{
        background-color: #ffea84;
        color:#ffea84;
        margin:  10px;
    }
    
    footer{
        background-color: #000000;
        padding: 10px;
        margin: 10px 0;
    }
    
    footer>p{
        background-color: #e6af2d;
        color: #e6af2d;
    }
}